{% extends "core/base.html" %} {% block title %} Skill {% endblock title %}{% block content %}
<div class="container mt-5 ">
    <h1 class="text-warning mb-5 border-bottom">Skill</h1>
    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="mt-5"> Html/Css</h3>
            <div class="progress">
                <div class="progress-bar bg-danger " role="progressbar" style="width: 100%;" aria-valuenow="100" area-valuemin="0" area-valuemax="100">
                    100%
                </div>
            </div>
            <h3 class="mt-5"> C</h3>
            <div class="progress">
                <div class="progress-bar bg-primary " role="progressbar" style="width: 85%;" aria-valuenow="85" area-valuemin="0" area-valuemax="100">
                    85%
                </div>
            </div>
            <h3 class="mt-5"> C ++</h3>
            <div class="progress">
                <div class="progress-bar bg-success " role="progressbar" style="width: 80%;" aria-valuenow="80" area-valuemin="0" area-valuemax="100">
                    80%
                </div>
            </div>
            <h3 class="mt-5"> Python</h3>
            <div class="progress">
                <div class="progress-bar bg-warning " role="progressbar" style="width: 97%;" aria-valuenow="97" area-valuemin="0" area-valuemax="100">
                    97%
                </div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5"> JavaScript</h3>
            <div class="progress">
                <div class="progress-bar  progress-bar-striped  progress-bar-animated " role="progressbar" style="width: 95%;" aria-valuenow="100" area-valuemin="0" area-valuemax="100">
                    95%
                </div>
            </div>
            <h3 class="mt-5"> Wordpress</h3>
            <div class="progress">
                <div class="progress-bar  progress-bar-striped  progress-bar-animated " role="progressbar" style="width: 93%;" aria-valuenow="93" area-valuemin="0" area-valuemax="100">
                    93%
                </div>
            </div>
            <h3 class="mt-5"> Django</h3>
            <div class="progress">
                <div class="progress-bar  progress-bar-striped  progress-bar-animated " role="progressbar" style="width: 96%;" aria-valuenow="96" area-valuemin="0" area-valuemax="100">
                    96%
                </div>
            </div>
            <h3 class="mt-5"> SQL</h3>
            <div class="progress">
                <div class="progress-bar  progress-bar-striped  progress-bar-animated " role="progressbar" style="width: 90%;" aria-valuenow="90" area-valuemin="0" area-valuemax="100">
                    90%
                </div>
            </div>
        </div>
    </div>
</div>{% endblock content %}